#sidebar {
    float:left;
    margin:auto;
    font-size:18px;
    margin-right:10px;
}

#inner {
    float:left;
}

#content {
    margin:auto;
    clear:both;
    width:98%;
}

body a {
    text-decoration:none;
}
body a:visited {
	color:#c09;
}

html, body {
    margin:5;
    padding:0;
}

h1 {
    margin:0;
    padding:5px;
}

.hidden {
    display:none;
}

body {
    font-family:Arial, Helvetica, Verdana, Sans-serif;
    font-size:14px;
    color:#666666;
    background:#ffffff;
}

tr.row1 {
    background:#adf9de
}
tr.row2 {
    background:#d3F9F7
}

td.header {
    color:#5376be
}
